html {
  --primary-color: #211f46;
  --secondary-color: #f17b7c;
  --info-color: #096dd9;
  --success-color: #1cae74;
  --warning-color: #faad14;
  --error-color: #f5222d;
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  --spacing: var(--spacing-md);
  --font-size-xxl: 32px;
  --font-size-xl: 24px;
  --font-size-lg: 18px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-xxs: 8px;
  --xxl: 1440px;
  --xl: 1280px;
  --lg: 960px;
  --md: 768px;
  --sm: 574px;
  --xs: 375px;
  --xxs: 256px;
  --max-width: 1200px;
  --primary-color-suppl: #211f46;
  --primary-color-hover: #343152;
  --primary-color-pressed: #0c0c1f;
  --primary-color-active: #211f461a;
  --primary-color1: #7e7d85;
  --primary-color2: #727178;
  --primary-color3: #64636b;
  --primary-color4: #4a485e;
  --primary-color5: #343152;
  --primary-color6: #211f46;
  --primary-color7: #0c0c1f;
  --primary-color8: #000;
  --primary-color9: #000;
  --primary-color10: #000;
  --secondary-color-suppl: #f17b7c;
  --secondary-color-hover: #ffacab;
  --secondary-color-pressed: #cc5e63;
  --secondary-color-active: #f17b7c1a;
  --secondary-color1: #fff2f0;
  --secondary-color2: #fff1f0;
  --secondary-color3: #fff1f0;
  --secondary-color4: #ffd6d4;
  --secondary-color5: #ffacab;
  --secondary-color6: #f17b7c;
  --secondary-color7: #cc5e63;
  --secondary-color8: #a6444c;
  --secondary-color9: #802e37;
  --secondary-color10: #591f28;
  --info-color-suppl: #096dd9;
  --info-color-hover: #2e8de6;
  --info-color-pressed: #0050b3;
  --info-color-active: #096dd91a;
  --info-color1: #e6f6ff;
  --info-color2: #ade0ff;
  --info-color3: #85ccff;
  --info-color4: #57acf2;
  --info-color5: #2e8de6;
  --info-color6: #096dd9;
  --info-color7: #0050b3;
  --info-color8: #003a8c;
  --info-color9: #002766;
  --info-color10: #001640;
  --success-color-suppl: #1cae74;
  --success-color-hover: #3cba83;
  --success-color-pressed: #0f875b;
  --success-color-active: #1cae741a;
  --success-color1: #dfede5;
  --success-color2: #b4e0c8;
  --success-color3: #87d4ae;
  --success-color4: #5fc797;
  --success-color5: #3cba83;
  --success-color6: #1cae74;
  --success-color7: #0f875b;
  --success-color8: #066143;
  --success-color9: #013b29;
  --success-color10: #00140f;
  --warning-color-suppl: #faad14;
  --warning-color-hover: #ffc53d;
  --warning-color-pressed: #d48806;
  --warning-color-active: #faad141a;
  --warning-color1: #fffbe6;
  --warning-color2: #fff1b8;
  --warning-color3: #ffe58f;
  --warning-color4: #ffd666;
  --warning-color5: #ffc53d;
  --warning-color6: #faad14;
  --warning-color7: #d48806;
  --warning-color8: #ad6800;
  --warning-color9: #874d00;
  --warning-color10: #613400;
  --error-color-suppl: #f5222d;
  --error-color-hover: #ff4d4f;
  --error-color-pressed: #cf1322;
  --error-color-active: #f5222d1a;
  --error-color1: #fff1f0;
  --error-color2: #ffccc7;
  --error-color3: #ffa39e;
  --error-color4: #ff7875;
  --error-color5: #ff4d4f;
  --error-color6: #f5222d;
  --error-color7: #cf1322;
  --error-color8: #a8071a;
  --error-color9: #820014;
  --error-color10: #5c0011;
  --theme-color: #e1e5ea;
  --theme-color-suppl: #e1e5ea;
  --theme-color-hover: #e9f0f7;
  --theme-color-pressed: #b3bac4;
  --theme-color-active: #e1e5ea1a;
  --theme-color1: #f0f9ff;
  --theme-color2: #f0f9ff;
  --theme-color3: #f0f8ff;
  --theme-color4: #f0f8ff;
  --theme-color5: #e9f0f7;
  --theme-color6: #e1e5ea;
  --theme-color7: #b3bac4;
  --theme-color8: #88909e;
  --theme-color9: #616978;
  --theme-color10: #414652;
  --bg-color: #e1e5ea;
  --bg-color-suppl: #e1e5ea;
  --bg-color-hover: #e9f0f7;
  --bg-color-pressed: #b3bac4;
  --bg-color-active: #e1e5ea1a;
  --bg-color1: #f0f9ff;
  --bg-color2: #f0f9ff;
  --bg-color3: #f0f8ff;
  --bg-color4: #f0f8ff;
  --bg-color5: #e9f0f7;
  --bg-color6: #e1e5ea;
  --bg-color7: #b3bac4;
  --bg-color8: #88909e;
  --bg-color9: #616978;
  --bg-color10: #414652;
  --text-color: #85709c;
  --text-color-suppl: #85709c;
  --text-color-hover: #9f94a8;
  --text-color-pressed: #604f75;
  --text-color-active: #85709c1a;
  --text-color1: #d7cedb;
  --text-color2: #cac2cf;
  --text-color3: #bdb6c2;
  --text-color4: #b0aab5;
  --text-color5: #9f94a8;
  --text-color6: #85709c;
  --text-color7: #604f75;
  --text-color8: #3e314f;
  --text-color9: #1e1729;
  --text-color10: #020103;
  --border-color: #b8cad8;
  --border-color-suppl: #b8cad8;
  --border-color-hover: #d8e0e6;
  --border-color-pressed: #8fa2b3;
  --border-color-active: #b8cad81a;
  --border-color1: #f0fbff;
  --border-color2: #f0faff;
  --border-color3: #f0faff;
  --border-color4: #e4edf2;
  --border-color5: #d8e0e6;
  --border-color6: #b8cad8;
  --border-color7: #8fa2b3;
  --border-color8: #697b8c;
  --border-color9: #475666;
  --border-color10: #2c3540;

  &.dark {
    --primary-color: #211f46;
    --secondary-color: #f17b7c;
    --info-color: #096dd9;
    --success-color: #1cae74;
    --warning-color: #faad14;
    --error-color: #f5222d;
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 12px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 48px;
    --spacing: var(--spacing-md);
    --font-size-xxl: 32px;
    --font-size-xl: 24px;
    --font-size-lg: 18px;
    --font-size-md: 16px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-size-xxs: 8px;
    --xxl: 1440px;
    --xl: 1280px;
    --lg: 960px;
    --md: 768px;
    --sm: 574px;
    --xs: 375px;
    --xxs: 256px;
    --max-width: 1200px;
    --primary-color-suppl: #211f46;
    --primary-color-hover: #343152;
    --primary-color-pressed: #0c0c1f;
    --primary-color-active: #211f461a;
    --primary-color1: #7e7d85;
    --primary-color2: #727178;
    --primary-color3: #64636b;
    --primary-color4: #4a485e;
    --primary-color5: #343152;
    --primary-color6: #211f46;
    --primary-color7: #0c0c1f;
    --primary-color8: #000;
    --primary-color9: #000;
    --primary-color10: #000;
    --secondary-color-suppl: #f17b7c;
    --secondary-color-hover: #ffacab;
    --secondary-color-pressed: #cc5e63;
    --secondary-color-active: #f17b7c1a;
    --secondary-color1: #fff2f0;
    --secondary-color2: #fff1f0;
    --secondary-color3: #fff1f0;
    --secondary-color4: #ffd6d4;
    --secondary-color5: #ffacab;
    --secondary-color6: #f17b7c;
    --secondary-color7: #cc5e63;
    --secondary-color8: #a6444c;
    --secondary-color9: #802e37;
    --secondary-color10: #591f28;
    --info-color-suppl: #096dd9;
    --info-color-hover: #2e8de6;
    --info-color-pressed: #0050b3;
    --info-color-active: #096dd91a;
    --info-color1: #e6f6ff;
    --info-color2: #ade0ff;
    --info-color3: #85ccff;
    --info-color4: #57acf2;
    --info-color5: #2e8de6;
    --info-color6: #096dd9;
    --info-color7: #0050b3;
    --info-color8: #003a8c;
    --info-color9: #002766;
    --info-color10: #001640;
    --success-color-suppl: #1cae74;
    --success-color-hover: #3cba83;
    --success-color-pressed: #0f875b;
    --success-color-active: #1cae741a;
    --success-color1: #dfede5;
    --success-color2: #b4e0c8;
    --success-color3: #87d4ae;
    --success-color4: #5fc797;
    --success-color5: #3cba83;
    --success-color6: #1cae74;
    --success-color7: #0f875b;
    --success-color8: #066143;
    --success-color9: #013b29;
    --success-color10: #00140f;
    --warning-color-suppl: #faad14;
    --warning-color-hover: #ffc53d;
    --warning-color-pressed: #d48806;
    --warning-color-active: #faad141a;
    --warning-color1: #fffbe6;
    --warning-color2: #fff1b8;
    --warning-color3: #ffe58f;
    --warning-color4: #ffd666;
    --warning-color5: #ffc53d;
    --warning-color6: #faad14;
    --warning-color7: #d48806;
    --warning-color8: #ad6800;
    --warning-color9: #874d00;
    --warning-color10: #613400;
    --error-color-suppl: #f5222d;
    --error-color-hover: #ff4d4f;
    --error-color-pressed: #cf1322;
    --error-color-active: #f5222d1a;
    --error-color1: #fff1f0;
    --error-color2: #ffccc7;
    --error-color3: #ffa39e;
    --error-color4: #ff7875;
    --error-color5: #ff4d4f;
    --error-color6: #f5222d;
    --error-color7: #cf1322;
    --error-color8: #a8071a;
    --error-color9: #820014;
    --error-color10: #5c0011;
    --theme-color: #241f21;
    --theme-color-suppl: #241f21;
    --theme-color-hover: #302e2f;
    --theme-color-pressed: #000;
    --theme-color-active: #241f211a;
    --theme-color1: #635d5f;
    --theme-color2: #575153;
    --theme-color3: #4a4647;
    --theme-color4: #3d3a3b;
    --theme-color5: #302e2f;
    --theme-color6: #241f21;
    --theme-color7: #000;
    --theme-color8: #000;
    --theme-color9: #000;
    --theme-color10: #000;
    --bg-color: #241f21;
    --bg-color-suppl: #241f21;
    --bg-color-hover: #302e2f;
    --bg-color-pressed: #000;
    --bg-color-active: #241f211a;
    --bg-color1: #635d5f;
    --bg-color2: #575153;
    --bg-color3: #4a4647;
    --bg-color4: #3d3a3b;
    --bg-color5: #302e2f;
    --bg-color6: #241f21;
    --bg-color7: #000;
    --bg-color8: #000;
    --bg-color9: #000;
    --bg-color10: #000;
    --text-color: #e3d2ac;
    --text-color-suppl: #e3d2ac;
    --text-color-hover: #f0eadd;
    --text-color-pressed: #bdaa86;
    --text-color-active: #e3d2ac1a;
    --text-color1: #fffdf0;
    --text-color2: #fffcf0;
    --text-color3: #fffcf0;
    --text-color4: #fcf9ed;
    --text-color5: #f0eadd;
    --text-color6: #e3d2ac;
    --text-color7: #bdaa86;
    --text-color8: #968363;
    --text-color9: #705e44;
    --text-color10: #4a3d2c;
    --border-color: #cfbf8b;
    --border-color-suppl: #cfbf8b;
    --border-color-hover: #dbd4b6;
    --border-color-pressed: #a89768;
    --border-color-active: #cfbf8b1a;
    --border-color1: #fffef0;
    --border-color2: #fffdf0;
    --border-color3: #f5f3e6;
    --border-color4: #e8e6da;
    --border-color5: #dbd4b6;
    --border-color6: #cfbf8b;
    --border-color7: #a89768;
    --border-color8: #82714a;
    --border-color9: #5c4d30;
    --border-color10: #362c1b;
  }
}

body {
  margin: 0;
  // background-color: var(--bg-color);
  color: var(--text-color);
}

img {
  display: block;
  width: 100%;
}

.card {
  // padding: 1em;
  overflow: hidden;
  // border-top: 1px solid rgb(255 255 255 / 50%);
  // border-left: 1px solid rgb(255 255 255 / 50%);
  border-radius: 4px;
  background-color: white;
  // background-color: rgb(255 255 255 / 10%);
  // background-color: rgb(255 255 255 / 80%);
  // backdrop-filter: saturate(200%) blur(20px);
  box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
  // box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
  // backdrop-filter: blur(5px);
  
}
