:root {
  --max-width: 1536px;
  --primary-color: rgb(36 198 220);
  --background-primary: linear-gradient(130deg, rgb(36 198 220), rgb(84 51 255) 41.07%, rgb(255 0 153) 76.05%);
}

html {
  background-color: rgb(10 128 10 / 50%);
}

body {
  margin: 0;
}
