body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  // line-height: 1.25;
}

img {
  display: block;
  width: 100%;
}

.card {
  padding: 2em;
  overflow: hidden;
  // border: 1px solid #e7eaf1;
  border-radius: 4px;
  background-color: rgb(255 255 255 / 95%);
  // background-color: white;
  box-shadow: 0 1px 3px rgb(0 37 55 / 6%);
  // backdrop-filter: saturate(200%) blur(20px);
}


.fade-enter-active,
.fade-leave-active {
	transition: opacity var(--transition-duration, 0.2s);
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
  background-color: var(--primary-color2);
}

::-webkit-scrollbar-thumb {
	// border: 1px solid transparent;
	// border-radius: 10px;
	// background-clip: content-box;
	background-color: var(--primary-color5);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--primary-color7);
}

::-webkit-scrollbar-corner {
	display: none;
}

* {
	scrollbar-width: thin;
}
